<div class="drawer sticky top-0 z-50">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Navbar sticky -->
    <div class="navbar bg-primary text-opposite">
      <div class="flex-none">
        <!-- El botón del drawer -->
        <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-5 h-5 stroke-current text-opposite"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <div class="flex-1">
        <a
          routerLink="/inicio"
          class="btn btn-ghost normal-case text-xl text-opposite"
          >BlogPi</a
        >
      </div>
    </div>
    <!-- Contenido de la página aquí -->
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-primary2 text-opposite2">

      <li>
        <a
          routerLink="/inicio"
          class="btn btn-ghost normal-case text-xl text-opposite"
          >Inicio</a
        >
      </li>

      @if (!isLoggedIn) {
        <li>
          <a
            routerLink="/registro"
            class="btn btn-ghost normal-case text-xl text-opposite"
            >Registro</a
          >
        </li>

      } @else {
        <li>
          <a
            routerLink="/blogs"
            class="btn btn-ghost normal-case text-xl text-opposite"
            >Blogs</a
          >
        </li>
        <li>
          <a
            routerLink="/create-blog"
            class="btn btn-ghost normal-case text-xl text-opposite"
            >Crear blog</a
          >
        </li>
        <li>
          <a
            routerLink="/profile"
            class="btn btn-ghost normal-case text-xl text-opposite"
            >Perfil</a
          >
        </li>
                <!-- <li>
          <a
            routerLink="/admin"
            class="btn btn-ghost normal-case text-xl text-opposite"
            >Admin</a
          >
        </li> -->

        <li>
          <a
            (click)="logout()"
            class="btn btn-ghost normal-case text-xl text-opposite bottom-0"
            >logout</a
          >
        </li>
      }
    </ul>
  </div>
</div>
