@if (isLoading) {
<app-loading-page></app-loading-page>

} @else {

<div
  class="container h-[85dvh] mx-auto p-6 m-4 bg-base-200 rounded-lg shadow-md"
>
  <div class="card bg-base-100 shadow-xl p-4">
    <div class="flex items-center space-x-4">
      <div>
        <h1 class="text-2xl font-bold">Email: {{ profile?.username }}</h1>
        <p class="text-gray-600">{{ profile?.email }}</p>
        <p class="text-gray-600">Plan: {{ profile?.plan }}</p>
        <p class="text-gray-600">Blog Entries: {{ profile?.blogEntries }}</p>
        <div class="flex items-center space-x-2 mt-4">
          <span>Show API Key:</span>
          <input
            type="checkbox"
            id="toggleApiKey"
            class="hidden"
            (change)="toggleApiKeyVisibility()"
          />
          <label
            for="toggleApiKey"
            class="bg-gray-300 rounded-full w-14 h-8 flex items-center cursor-pointer"
          >
            <span class="sr-only">Toggle API Key</span>
            <span
              class="block bg-white w-6 h-6 rounded-full shadow-md transform transition-transform duration-300"
              [class.translate-x-full]="showApiKey"
            ></span>
          </label>
          <div class="text-sm text-gray-600 ml-4" *ngIf="showApiKey">
            <div class="card bg-primary text-primary-content p-4">
              <p>{{ profile?.apiToken }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl mt-4 p-4">
    <h2 class="text-xl font-semibold">My Blogs</h2>
    <div
      *ngFor="let blog of userBlogs"
      class="card bg-base-200 shadow-md p-4 mt-2"
    >
      <h3 class="text-lg font-semibold">{{ blog.title }}</h3>
      <p class="text-gray-600">{{ blog.date }}</p>
      <div class="flex space-x-2 mt-2">
        <button (click)="editBlog(blog)" class="btn btn-primary">Editar</button>
        <button (click)="deleteBlog(blog)" class="btn btn-error">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
}
