@if (component) {
  <div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-3/4">
      <h2 class="text-xl font-bold mb-4">Detalles del Componente</h2>
      <p><strong>Tipo:</strong> {{ component.tipo }}</p>
      <p><strong>Capacidades:</strong> {{ component.capacidades }}</p>
      <p><strong>HTML:</strong></p>

      @if (component.tipo === 'Enlace') {
        <div class="mt-4">
          <label for="linkText">Texto del Enlace:</label>
          <input id="linkText" [(ngModel)]="linkText" class="border p-2 rounded w-full" />
        </div>
        <div class="mt-4">
          <label for="linkHref">URL del Enlace:</label>
          <input id="linkHref" [(ngModel)]="linkHref" class="border p-2 rounded w-full" />
        </div>
      } @else {
        <div class="border p-2 mt-2 rounded w-full" contenteditable="true" id="contenteditable" [innerHTML]="componentHtml"></div>

      }

      <div class="flex justify-end mt-4">
        <button (click)="saveChanges()" class="bg-green-500 btn text-white p-4">Guardar</button>
        <button (click)="close.emit()" class="bg-blue-500 text-white py-2 px-4 rounded">Cerrar</button>
      </div>
    </div>
  </div>
}
