<footer class="footer p-10  bg-primary text-opposite">
  <aside>
    <img
      src="./assets/imgs/logo/logo_ico.png"
      alt="Logo"
      class="h-20 bg-opposite rounded-lg"
    />

    <p>BlogPi <br />El mejor cms de blogs rápido y sencillo de usar</p>
  </aside>
  <nav>
    <h6 class="footer-title">Servicios</h6>
    <a class="link link-hover">Documentación ApiKey</a>

  </nav>

  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" routerLink="/terminos-y-condiciones">Términos y condiciones</a>
    <a class="link link-hover" routerLink="/politica-de-privacidad">Política de privacidad</a>
    <a class="link link-hover" routerLink="/politica-de-cookies">Política de cookies</a>
  </nav>
</footer>
