<footer class="footer p-10 bg-primary text-opposite">
  <aside>
    <img
      src="./assets/imgs/logo/logo_ico.png"
      alt="Logo"
      class="h-20 bg-opposite rounded-lg"
    />

    <p>ACME Industries Ltd.<br />Providing reliable tech since 1992</p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" routerLink="/terminos-y-condiciones">Términos y condiciones</a>
    <a class="link link-hover" routerLink="/politica-de-privacidad">Política de privacidad</a>
    <a class="link link-hover" routerLink="/politica-de-cookies">Política de cookies</a>
  </nav>
</footer>
